# 
# Copyright 2026 Jacopo Enrico Marinaccio
# Licensed under the Apache License, Version 2.0
# You may obtain a copy at: http://www.apache.org/licenses/LICENSE-2.0
#

# Environment example for JecoFramework
# Copy this file to `.env` and fill secrets/overrides.

# Select environment: dev, qa, preprod, prod
ENV=dev

# Playwright options
HEADLESS=true
CREATE_PLAYWRIGHT_REPORT=false
CREATE_ARTIFACTS=false

# API client options
API_IGNORE_HTTPS_ERRORS=true

# Logging options
LOG_SILENT=true
