# Environment example for JecoFramework
# Copy this file to `.env` and fill secrets/overrides.

# Select environment: dev, qa, preprod, prod
ENV=dev

# Base URLs
BASE_URL=https://www.saucedemo.com/
API_BASE_URL=https://restful-booker.herokuapp.com/

# Playwright options
HEADLESS=true
CREATE_PLAYWRIGHT_REPORT=false
CREATE_ARTIFACTS=false

# API client options
API_IGNORE_HTTPS_ERRORS=true
